*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}
main{
    height: 100vh;
    background-color: burlywood;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.white{
    width: 100%;
    height: 20px;
    background-color: white;
}

.color{
    background-color: #01e165;
    color: white;
}