*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}
main{
    height: 100vh;
    background-color: burlywood;
}

[class*="col-"]{
    border: 1px solid white;
    background-color: #006cfa;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 4rem;
    height: 4rem;
    text-align: center;
    color: white;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-interne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.white{
    width: 100%;
    height: 20px;
    background-color: white;
}

.height{
    height: 2rem;
    border: 2px solid  #006cfa;
    line-height: 1.5rem;
    font-size: .6rem;
}

.color{
    background-color: #01e165;
    color: white;
}